*, 
*:before, 
*:after {
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}	

h1 {
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

p {
	height: 30px;
	padding: 10px;
	cursor: pointer;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.correctA {
	color: blue;
}